{{ form_start(uploadPhotoForm) }}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        {{ form_row(uploadPhotoForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(uploadPhotoForm.description) }}
                        {{ form_row(uploadPhotoForm._token) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(uploadPhotoForm.photo) }}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form_row(uploadPhotoForm.submitButton) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(uploadPhotoForm) }}
