{% extends 'base.html.twig' %}
{% block title %}HomePage{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pageHomepage') }}
    {{ encore_entry_script_tags('pageHomepage') }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {{ include('layouts/navbar.html.twig') }}
    {{ include('layouts/createGallery.html.twig') }}

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6 col-md-4 col-xl-3 mt-4">
                <div class="card cursor-pointer" data-toggle="modal" data-target="#createModal">
                    <div class="card-img-top add-gallery-card"></div>
                    <div class="card-body">
                        <h5 class="card-title text-truncate"><strong>New Gallery</strong></h5>
                        <p class="card-text text-truncate">Click to create</p>
                    </div>
                </div>
            </div>
            {% for gallery in galleries %}
                {% set deleteForm = deleteGalleryForm.createView %}
                <div class="col-sm-6 col-md-4 col-xl-3 mt-4">
                    <div class="card cursor-pointer">
                        <div
                                class="card-img-top gallery-item"
                                onClick="window.location.href = '{{ path('gallery', { id: gallery.id }) }}'"
                                style="background-image: url('{{ (gallery.items is empty) ? asset('data/gallery/no_image.png') : gallery.items[0].photo }}');"
                        ></div>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" ><strong><span data-item-name>{{ gallery.name }}</span></strong></h5>
                            <p class="card-text text-truncate transparent-text"><span data-item-description>{{ (gallery.description is empty) ? '...' :  gallery.description }}</span></p>
                            {{ form_start(deleteForm) }}
                            {{ form_row(deleteForm.id, { attr: { value: gallery.id } }) }}
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(deleteForm.submitButton) }}
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-primary"
                                            data-toggle="modal" data-target="#editGalleryModal-{{ gallery.id }}">Edit
                                    </button>
                                </div>
                            </div>
                            {{ form_end(deleteForm) }}

                            {{ include('layouts/editGallery.html.twig', {
                                id: "editGalleryModal-" ~ gallery.id,
                                editGalleryForm: editGalleryForm.createView,
                                gallery: gallery
                            }) }}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="behind_text">
        <p>Galleries</p>
    </div>
{% endblock %}
