{% extends 'base.html.twig' %}
{% block title %}HomePage{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pageHomepage') }}
    {{ encore_entry_script_tags('pageHomepage') }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {{ include('layouts/createGallery.html.twig') }}
    {{ include('layouts/navbar.html.twig') }}

    <div class="container">
        <div class="row">
            {% for gallery in galleries %}
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="img-box" onClick="window.location.href = '/gallery/{{ gallery.id }}'">
                    <img src="https://picsum.photos/350/250?image=444" alt=""/>
                    <div class="transparent-box">
                        <div class="caption">
                            <p>{{ gallery.name }}</p>
                            <p class="opacity-low">{{ gallery.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {# <div class="col-sm-6 col-md-4 col-xl-3" > #}
    {# <div class="img-box" onClick="window.location.href = '/gallery/{{ gallery.id }}'"> #}
    {# <img src="https://picsum.photos/350/250?image=444" alt="" /> #}
    {# <div class="transparent-box"> #}
    {# <div class="caption"> #}
    {# <p>{{ gallery.name }}</p> #}
    {# <p class="opacity-low">{{ gallery.description }}</p> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}





    <a href="#" class="float" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
        <i class="fa fa-plus my-float"></i>
    </a>
{% endblock %}
